@mixin container($max-width: 1110px) {
  display: grid;
  grid-template-columns:
    minmax(5vw, 1fr) repeat(12, minmax(11px, $max-width / 12))
    minmax(5vw, 1fr);
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin flex-center-btw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// Définissez vos points de rupture
$mobile: 480px;
$tablet: 768px;
$large: 1024px;
$desktop: 1200px;

@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $mobile + 1px) and (max-width: $tablet) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $tablet + 1px) and (max-width: $large) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $large + 1px) {
    @content;
  }
}
