@font-face {
  font-family: "SD Dystopian";
  src: url("/fonts/sd-dystopian-font/Sddystopiandemo-GO7xa.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--text-color);
  background: var(--body-bg);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page {
  color: var(--text-color);
  background: var(--body-bg);
}
