@font-face {
  font-family: "SD Dystopian";
  src: url("/fonts/sd-dystopian-font/Sddystopiandemo-GO7xa.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--text-color);
  background: var(--body-bg);
  padding: 5px;
}

.page {
  color: var(--text-color);
  background: var(--body-bg);
}
